{:paths ["src" "dev" "examples"]
 :deps  {binaryage/devtools         {:mvn/version "1.0.3"}
         com.hyperfiddle/rcf        {:mvn/version "20220405"}
         com.lambdaisland/dom-types {:mvn/version "0.4.34"}
         hickory/hickory            {:mvn/version "0.7.1"}
         meander/epsilon            {:mvn/version "0.0.650"}
         reagent/reagent            {:mvn/version "1.1.0"}
         thheller/shadow-cljs       {:mvn/version "2.18.0"}
         lambdaisland/deep-diff2    {:mvn/version "2.0.108"}}}