{:deps true

 :dev-http
 {3447 "resources/public"}

 :nrepl {:port 9000}

 :builds
 {:app
  {:target            :browser
   :devtools          {:preloads [lambdaisland.dom-types]}
   :modules           {:main {:init-fn rich.app/init}}
   :asset-path        "/js"
   :output-dir        "resources/public/js"
   :build-hooks       [(shadow.cljs.build-report/hook)]
   :release           {:output-dir "resources/public/js/release/rich"}}}}
